*{
	margin: 0;
	white-space: nowrap;
}

.mp{
    display: grid;
    grid-template-areas: 
                        "nav"
                        "header"
                        "main"
                        "footer";
    /* grid-template-rows: 100px 200px 500px 200px; */
    /* grid-template-columns: 100px 1120px 100px; */
}


/* 네비게이션 바 스타일 */
.nav_bar {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    background-color: #fdfdfd;
    height: 105px;
    width: 100%;
    padding: 0;
}

/* 로고 이미지 스타일 */
.nav_bar img {
    height: 65px;
    width: auto;/* 비율 유지*/
    margin: 0 50px;
}

/* 메뉴바 스타일 */
.nav_menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 메뉴 항목 스타일 */
.nav_menu li {
    float: left;
    margin: 15px 75px;
}

/* 메뉴 링크 스타일 */
.nav_menu a {
    text-align: center;
    color: #323232;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

/* 메뉴 항목에 마우스를 올렸을 때 */
.nav_menu a:hover {
    color: #FF4714;
}


.nav_but_login:hover {
    border-style: none;
    background-color: #FF4714;
    width: 100px;
    height: 35px;
    color: #fdfdfd;
    margin: 0px 50px;
    font-size: 15px;
	font-weight: bold;
}
.nav_but_login {
    border-style: none;
    background-color: #323232;
    width: 100px;
    height: 35px;
    color: #fdfdfd;
    margin: 0px 50px;
    font-size: 15px;
	font-weight: bold;
}
a{
    text-decoration: none;
    color: inherit;
}

.nav_user{
	font-size: 15px;
	font-weight: bold;
}
.nav_menu_login {
    color: #323232;
    text-decoration-line: none;
}
.nav_menu_login:hover {
	color: #FF4714;
    text-decoration-line: none;
}
.header{
    height: 738px;
    width: 100%;
    /* border: 1px solid black; */
    align-items: center;
    margin: auto;
    text-align: center;
}

#searchBox{
    height: 100px;
    width: 40%;
    /* border: 1px solid black; */
    /* align-items: center;
    margin: auto; */
}

    .main {
        width: 100%;
        max-width: 75%; /* 화면 너비를 넘지 않도록 설정 */
        overflow: hidden; /* 요소가 넘칠 경우 숨김 */
        margin: 0 auto; /* 가운데 정렬 */
        text-align: center; /* 내부 콘텐츠 가운데 정렬 */
    } 

    .main img {
        width: 100%;
        height: auto; /* 비율을 유지하면서 높이 조정 */
        max-width: 100%; /* 부모 요소의 크기를 넘지 않도록 제한 */
        display: block; /* 이미지 하단에 여백 제거 */
        margin: 0 auto; /* 이미지 가운데 정렬 */
    }


#rrr{
    margin-top: 100px;
    height: 200px;
    width: 20%;
}

#rcc{
    margin-top: 100px;
    height: 150px;
    width: 150px;
}

#mainImage{
    margin-top: 50px;
    height: 500px;
    width: 100%;
    margin-bottom: 100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* 카드가 화면 너비를 넘을 경우 줄바꿈을 할지 설정 */
    justify-content: center; /* 카드 간격을 조정 */
    margin-bottom: 100px;
  }

  .card-containercc {
    display: flex;
    /* flex-wrap: wrap; 카드가 화면 너비를 넘을 경우 줄바꿈을 할지 설정 */
    justify-content: center; /* 카드 간격을 조정 */
  }
  
  .card {
    margin: 30px; /* 카드 간격 설정 */
  }
  .card1 {
    margin-top: 50px;
    /* margin: 30px; 카드 간격 설정 */
    width: 10px;
    height: 200px;
  }

  #chucheon{
    /* height: 500px;
    width: 60%; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
  }

  #ad{
    /* display: grid; */
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    height: 500px;
    width: 288px;
    margin-right: 20px;
    float: right;
  }

.footer{
    height: 100px;
    width: 100%;
}